extends layout


block content
    h1= 'Title :' + ' ' + article.title
    h5= 'Author :' + ' ' + article.author
    p=  'Description :' + ' ' + article.body
    hr
    if user
        if user.username == article.author
            a.btn.btn-default(href='/articles/edit/'+article._id) Edit
            a.btn.btn-default.delete-article(href='/articles/delete/'+article._id) Delete
    