extends layout


block content
    h1 #{title}
    ul.list-group.list-group-flush
    each article, i in articles
        li.list-group-item
            a(href="/articles/article/"+article._id)= article.title
            small.form-text.text-muted Added Date in M/D/YY format
            p= article.addedDate.getMonth() + 1 + '/' + article.addedDate.getDate() + '/' + article.addedDate.getFullYear()
