doctype html
html
    head
        title Knowledgebase
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    body
        .container
            nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.rounded
                    ul.navbar-nav.mr-auto
                        li.nav-item
                            a.nav-link.active(href='/') BookCollection  
                        if user
                            li.nav-item
                                a.nav-link(href='/articles/mine') My Articles
                            li.nav-item
                                a.nav-link(href='/articles/bookmarks') Bookmarks
                            li.nav-item
                                a.nav-link(href='/articles/add') Add Article
                    ul.navbar-nav.ml-auto
                        if user
                            li.nav-item
                                a.nav-link #{user.name + ' ' + user.surname}
                            li.nav-item
                                a.nav-link(href='/users/logout') Logout
                        else
                            li.nav-item
                                a.nav-link(href='/users/register') Register
                            li.nav-item
                                a.nav-link(href='/users/login') Login
        br
        .container
            != messages('message', locals) /*Pjesa e mesazheve add update deri te block content*/
            if errors
                each error, i in errors
                    div(class="alert alert-danger") #{error.msg} 
            block content
            br
            hr
            footer
                p Copyright &copy; 2019
        script(src='/bower_components/jquery/dist/jquery.js')
        script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
     
//-li
    a(href='/articles') Home posht if users tek book collections siper